* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* 헤더 */
main {
  width: auto;
  height: 980px;
  margin: 0 auto;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
}

header {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 10;
}

.logo {
  margin-right: 3%;
  margin-bottom: 193px;
}

.logo img {
  width: auto;
  height: auto;
  margin-top: 100%;
  margin-left: 22%;
  position: relative;
  top: -195px;
}

nav {
  position: relative;
  z-index: 10;
  color: white;
}

nav ul {
  display: flex;
  margin-left: 170%;
  margin-top: -0.4%;
  width: max-content;
  color: white;
}

nav ul li {
  font-size: 15px;
  display: inline-block;
  margin: 12px 12px;
  padding-left: 0px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  cursor: pointer;
}

nav ul li .dropdown {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -180%;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 0px;
  width: 130px;
  height: auto;
  text-align: center;
}

nav ul li:hover {
  transform: scale(1.05);
}

nav ul li .dropdown {
  display: none;
  list-style: none;
  position: absolute;
  top: 120%;
  left: -180%;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 0px;
  width: 130px;
  height: auto;
  text-align: center;
}

nav ul li:hover .dropdown {
  display: block;
}

nav ul li .dropdown li {
  margin: 5px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  cursor: pointer;
}

nav ul li .dropdown li:hover {
  border-bottom: 1.5px solid #2fa9a3;
  transform: scale(1.05);
}

nav ul li .dropdown li:active {
  transform: scale(1);
}

.mainBannerSwiper {
  width: 100%;
  height: 980px;
  margin: 20px 0;
  z-index: 1;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  margin-bottom: 268px;
  width: 100%;
  height: 980px;
  background-size: cover;
  background-position: center;
}

/* 퀘스트 섹션 */
.intro {
  width: 100%;
  height: 2700px;
  background: url(img/bn17.jpg);
  background-size: cover;
}

/* 비하인드 */
.swiper {
  width: 100%;
  padding-top: 300px;
  padding-bottom: 50px;
  background: url(img/bn18.jpg) no-repeat left;
  background-size: contain;
  background-size: 100% 80%;
  background-size: cover;
}

.swiper-slide {
  background-position: left;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* 공유 */

.gu {
  width: 100%;
  height: 280px;
  background: url(img/bn22.jpg);
  background-size: cover;
}

/* 푸터 */
footer {
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  height: 230px;
}

.logo1 {
  margin-top: 30px;
  padding-right: 1200px;
}

.ft1 {
  text-align: left;
  margin-top: -45px;
  padding-left: 570px;
  color: #505050;
}

.ft1 strong {
  font-weight: bold;
  color: black;
}

.ft1 p {
  line-height: 30px;
}

.ft2 {
  text-align: left;
  margin-top: -117px;
  padding-left: 1100px;
  color: #505050;
}

.ft2 strong {
  font-weight: bold;
  color: black;
}

.ft2 p {
  line-height: 30px;
}
